@charset "EUC-KR";

.memory__wrap {
	/* display: none; */
	transform: scaleX(0);
	transition: all 0.3s ease;
}

.memory__wrap.show {
	/* display: block; */
	transform: scaleX(1);
}

.memory__inner {
	width: 600px;
	padding: 0 2rem;
	background: rgba(0, 0, 0, 0.9);
	position: absolute;
	left: 400px;
	top: 100px;
	border-radius: 20px;
	text-align: center;
	/* animation: flicker 1.5s infinite alternate; */
}

.memory__inner>span {
	color: #fff;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	display: inline-block;
}

.memory__inner>h1 {
	color: #fff;
	font-size: 2.5vw;
	margin-bottom: 10px;
	text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #73FBF9, 0 0 42px
		#73FBF9, 0 0 82px #73FBF9, 0 0 92px #73FBF9, 0 0 102px #73FBF9, 0 0
		151px #73FBF9;
	animation: flicker 1.5s infinite alternate;
}

.memory__card {
	padding: 30px;
}

.memory__card .cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

.memory__card .cards li {
	position: relative;
	list-style: none;
	width: 100px;
	height: 100px;
	border-radius: 20px;
	transform-style: preserve-3d;
	perspective: 500px;
}

.memory__card .cards li img {
	scale: 0.5;
}

.memory__card .cards li .view {
	position: absolute;
	height: 100px;
	width: 100px;
	background: #222;
	backface-visibility: hidden;
	border-radius: 20px;
	transition: all 0.5s;
	user-select: none;
	pointer-events: none;
}

.memory__card .cards li:hover .view {
	background: #555;
}

.memory__card .cards li .front {
	transform: rotateY(0deg);
}

.memory__card .cards li.flip .front {
	transform: rotateY(180deg);
}

.memory__card .cards li .back {
	transform: rotateY(-180deg);
}

.memory__card .cards li.flip .back {
	transform: rotateY(0deg);
}

.memory__card .cards li.shakeX {
	animation: shakeX 1s 1;
}

.memory__card .cards li.shakeY {
	animation: shakeY 1s 1;
}

@
keyframes flicker { 0%, 100% {
	/* box-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #73FBF9,
            0 0 80px #73FBF9, 0 0 90px #73FBF9, 0 0 100px #73FBF9, 0 0 150px #73FBF9; */
	/* box-shadow:
            0 0 .5rem #73FBF9,
            inset 0 0 .5rem #73FBF9,
            0 0 2rem #73FBF9,
            inset 0 0 2rem #73FBF9,
            0 0 4rem #73FBF9,
            inset 0 0 4rem #73FBF9; */
	
}

/* 20%,
    24%,
    55% {
        text-shadow: none;
    } */
}
@
keyframes shakeX {from , to { -webkit-transform:translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

10
%
,
30
%
,
50
%
,
70
%
,
90
%
{
-webkit-transform
:
translate3d(
-10px
,
0
,
0
);
transform
:
translate3d(
-10px
,
0
,
0
);
}
20
%
,
40
%
,
60
%
,
80
%
{
-webkit-transform
:
translate3d(
10px
,
0
,
0
);
transform
:
translate3d(
10px
,
0
,
0
);
}
}
.animate__shakeX {
	-webkit-animation-name: shakeX;
	animation-name: shakeX;
}

@
-webkit-keyframes shakeY {from , to { -webkit-transform:translate3d(0, 0,
	0);
	transform: translate3d(0, 0, 0);
}

10
%
,
30
%
,
50
%
,
70
%
,
90
%
{
-webkit-transform
:
translate3d(
0
,
-10px
,
0
);
transform
:
translate3d(
0
,
-10px
,
0
);
}
20
%
,
40
%
,
60
%
,
80
%
{
-webkit-transform
:
translate3d(
0
,
10px
,
0
);
transform
:
translate3d(
0
,
10px
,
0
);
}
}
.memory__wrap .times {
	position: absolute;
	content: '';
	top: 10px;
	right: -50px;
	width: 30px;
	display: flex;
	flex-wrap: wrap;
}

.memory__wrap .times span {
	background-color: #EA3CF1;
	box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #EA3CF1, 0 0 42px
		#EA3CF1, 0 0 82px #EA3CF1, 0 0 92px #EA3CF1;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
}

.memory__wrap .times span.error {
	background-color: transparent;
}