@charset "UTF-8";

* {
    box-sizing: border-box;
}

/* 전체 페이지 스타일 */
body {
    background-color: #191414; /* 배경색: 검정 */
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #fff; /* 기본 텍스트 색상 */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* 세로 정렬을 위한 flex 설정 */
    min-height: 100vh; /* 페이지 전체 높이를 최소 100%로 설정 */
    overflow: scroll;
}

/* 컨테이너 설정 */
.container_modify {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px; /* 상단바 높이만큼의 여백 추가 */
    padding: 20px;
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

/* 메인 wrapper 스타일 */
.wrapper {
   max-width: 600px; /* 600px로 설정 */
    width: 100%; /* 100% 너비 적용 */
    background-color: #282828; /* 카드 배경: 어두운 회색 */
    border-radius: 10px; /* 둥근 모서리 */
    padding: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    margin-top: 20px; /* 상단 메뉴와 간격 */
    height: auto; /* 높이를 콘텐츠에 맞춤 */
}

/* 입력 필드 스타일 */
.input-box {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    background-color: #333; /* 입력 필드 배경: 다크 그레이 */
    border: none; /* 테두리 없음 */
    color: #fff; /* 텍스트 색상: 흰색 */
    width: 100%; /* 입력 필드가 전체 너비 차지 */
    padding: 12px; /* 입력 필드 내부 패딩 */
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 16px;
    box-sizing: border-box;
    margin-top: 8px;
}

input:focus, textarea:focus {
    outline: none; /* 포커스 시 테두리 제거 */
    box-shadow: 0 0 0 2px #1DB954; /* 포커스 시 테두리 효과 */
}

/* 오류 메시지 스타일 */
form:errors {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* 아이콘 위치 설정 */
.input-box i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #b3b3b3;
    font-size: 20px;
}

/* 버튼 스타일 */
.btn {
    background-color: #1DB954; /* 기본 버튼 색상 (Spotify 그린) */
    color: white;
    border: none;
    border-radius: 50px; /* 둥근 모서리 */
    width: 100%; /* 버튼 너비 */
    padding: 12px 20px; /* 버튼 크기 */
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1ed760; /* 호버 시 밝은 그린 */
}

/* 비활성화된 버튼 스타일 */
.btn[disabled] {
    background-color: #333; /* 비활성화된 상태의 배경색 */
    color: #888; /* 비활성화된 상태의 텍스트 색상 */
    cursor: not-allowed; /* 커서 비활성화 */
}

/* 숨겨진 클래스 */
.non {
    display: none;
}

h2 {
    text-align: left;
    color: #1DB954; /* Spotify 그린 색상 */
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.search-icon {
    top: 14px !important;
}
