html {
    font: normal 100%/1.5 "Roboto Slab", serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ffffff;
}

.title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5;
    color: black;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
}

button {
    appearance: none;
    border: none;
    padding: 0.875rem;
    transition: 100ms all ease-in-out;
    width: 100%;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 0.75em;
    text-transform: uppercase;
    background: #448AFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background: rgb(57.8, 131.6, 255);
}

.mocean-modal-wrap {
    position: fixed;
    max-width: 400px;
    width: 100%;
    height: 50%;
    z-index: 2000;
    bottom: -10%;
    visibility: hidden;
    backface-visibility: hidden;
    margin: auto;
}

.mocean-show.mocean-modal-wrap {
    visibility: visible;
}

.mocean-modal {
    background-color: orange;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0, 1.5);
    animation-duration: 1000ms;
    padding: 20px;
}

.slide-in-bottom .mocean-content {
    transform: translate3d(0, 30%, 0);
    opacity: 0;
}

.mocean-show.slide-in-bottom .mocean-content {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

/* 엑스 버튼 스타일 */
.mocean-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.mocean-modal-close:hover {
    color: red; /* 마우스 오버 시 색상 변화 */
}





