
/* 전체 컨테이너 */
.quiz-lobby .lobby-container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-color: #1f1d2b;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(31, 29, 43, 0.9); /* 반투명 배경색을 적용 */
}

/* 헤더 스타일 */
.quiz-lobby .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 20px;
}

.quiz-lobby .header-left h1 {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    margin-left: -8px;
    margin-top : 12px;
}

.quiz-lobby .header button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.quiz-lobby .header button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* 방 목록 컨테이너 */
.quiz-lobby .room-list-container {
    margin-top: 30px;
    padding: 20px;
}

.quiz-lobby .room-list-container h2 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* 방의 사각형 모양 카드 스타일 */
.quiz-lobby .room-info {
    background-color: #29283c;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

/* 방 제목, 방장 이름, 인원수 정보 배치 */
.quiz-lobby .room-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.quiz-lobby .room-name {
    font-size: 20px;
    font-weight: bold;
    color: #1db954;
    margin-bottom: 5px;
}

.quiz-lobby .room-info-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.quiz-lobby .room-owner {
    font-size: 16px;
    color: #9aa0a6;
}

.quiz-lobby .room-users {
    font-size: 16px;
    color: #9aa0a6;
}

/* 방 카드 호버 시 효과 */
.quiz-lobby .room-info:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: none;
    color: #fff;
}

/* 참여 버튼 스타일 */
.quiz-lobby .join-room-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.quiz-lobby .join-room-btn:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* 방의 그리드 레이아웃 */
.quiz-lobby .room-list-container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3줄로 표시 */
    gap: 20px;
    list-style: none;
    padding: 0;
}

/* 방 리스트 요소 */
.quiz-lobby .room-list-container ul li {
    list-style: none;
}

/* 모달 창 기본 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

/* 모달 콘텐츠 */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: none; /* 애니메이션 제거 */
}


/* 닫기 버튼 스타일 */
.close, .close-password-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close-password-modal:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 모달 애니메이션 */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 모달 창 내의 입력 폼 스타일 */
.modal input[type="text"], .modal input[type="password"], .modal input[type="number"], .modal select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 버튼 스타일 */


.music-button {
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: box-shadow 1s ease-out;
}

.music-button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    animation: pulse 0.5s ease-out;
}

.music-button.selected {
    background-color: rgb(233, 125, 18);
    color: white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
