@charset "UTF-8";

* {
    outline: none;
    box-sizing: border-box;
    user-select: none; /* 모든 요소에서 드래그 방지 */
}

/* Base : 상단바 사이드바 하단바의 크기만큼 위치 이동 (필요하면 사용) */ 
div#contentContainer{
	margin-top : 100px;
	margin-left : 245px;
}


.artist-photo{
	position: relative;
 	margin-top : 100px;	
}
.artist-info {
	padding-top : 110px;
}
div#artist-container {
	padding : 20px 0;
	position : absolute;
	
	}
/* 텍스트 스타일 지정 */

.short-description, .full-description  {
	margin-top : 60px;
	color : #EEEEEE;
	font-size : 11px;
}


.toggle-description {
	display: flex;
	justify-content: flex-end;
}

