.search__wrap {
  /* max-width: 1400px;
  margin: 0 auto;
  border: 3px solid var(--htmlColor);
  border-radius: 20px; */
  /* background: rgba(0, 0, 0, 0.6); */
  /* padding: 30px;
  text-align: center;
  height: 1500px;
  max-height: calc(100vh);
  overflow-y: auto; */
  transform: scaleX(0);
  transition: all 0.3s ease;
  /* display: none; */
}

.search__wrap.show {
  /* display: block; */
  transform: scaleX(1);
}

.search__inner {
  width: 1000px;
  height: 600px;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 100px;
  left: 200px;
  padding: 50px;
  border: 1px solid #000;
  text-align: center;
  overflow: scroll;
  color: #fff;
}

.search__audio span svg {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 20px;
  top: 20px;
}

.search__inner>span {
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.search__inner>h1 {
  color: #fff;
  font-size: 4vw;
  margin-bottom: 10px;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #73FBF9, 0 0 42px #73FBF9,
    0 0 82px #73FBF9, 0 0 92px #73FBF9, 0 0 102px #73FBF9, 0 0 151px #73FBF9;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #73FBF9,
      0 0 80px #73FBF9, 0 0 90px #73FBF9, 0 0 100px #73FBF9, 0 0 150px #73FBF9;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.search__inner .desc {
  line-height: 1.4;
  padding: 20px 0;
  font-size: 18px;
  color: #fff;
}

.search__inner .timer {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 20px;
}

.search__inner .timer span {
  color: #fff;
}

.search__box {
  margin-bottom: 20px;
  position: relative;
}

.search__box label {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.search__box input {
  border: 2px solid var(--htmlColor);
  padding: 15px 40px;
  width: 30%;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 20px;
}

.search__box .start {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: #73FBF9;
  width: 30%;
  border-radius: 50px;
  font-size: 18px;
  border: 2px solid #73FBF9;
  padding: 15px 20px;
  color: #333;
}

.search__box .start:hover {
  background: #333;
  color: #73FBF9;
  box-shadow: inset 3px 3px 30px 3px #73fbf934;
}

.search__list {
  display: none;
}

.search__list.show {
  display: block;
}


.search__list li {
  text-align: left;
  line-height: 1.7;
}

.search__list li.show {
  display: block;
}

.search__list li.hide {
  display: none;
}

.search__list span {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 5px;
  transition: all 0.3s;
  cursor: pointer;
  color: #000;
  background: rgb(225, 255, 0);
  font-size: 18px;
}

.search__list span:hover {
  background-color: rgb(255, 0, 0);
  color: #000;
}

.search__list em {
  float: right;
  font-style: normal;
}

.search__list .line {
  margin: 50px 0;
}

.search__list .line li {
  background: #e3eaf5;
  padding: 10px 30px;
  margin-bottom: 5px;
  border-radius: 50px;
}

.search__list .line li:hover {
  background: #d3e2fa;
  cursor: pointer;
}

.search__info {
  text-align: right;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.search__info .type {
  text-align: center;
  margin-bottom: 10px;
}

.search__info .keyword {
  text-align: center;
  margin-bottom: 10px;
}

.search__info .keyword span {
  border: 2px solid var(--htmlColor);
  border-radius: 50px;
  padding: 10px;
  display: inline-block;
  margin-bottom: 4px;
}

.search__info .keyword span:hover {
  background-color: var(--htmlColor);
  color: #fff;
  cursor: pointer;
}

.search__info.center {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 40px;
}

.search__desc {
  padding: 20px 40px 20px 60px;
  margin-bottom: 50px;
  border-radius: 50px;
  display: inline-block;
  background-color: var(--htmlColor);
  color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='11' cy='11' r='8' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 16.958L21.5 21.958' stroke='%23ffffff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 22px 17px;
}

.search__click {
  margin-top: 10px;
  margin-bottom: 30px;
}

.search__click li {
  display: inline;
}

.search__click li a {
  display: inline-block;
  border: 1px solid var(--htmlColor);
  border-radius: 50px;
  padding: 10px 20px;
  margin: 5px 0;
}

.search__click li a:hover {
  background-color: var(--htmlColor);
  color: #fff;
}

.search__result {
  position: fixed;
  /* right: 23vw;
  top: 2vw; */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  height: 35vw;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  border-radius: 50%;
  border: 4px solid #EA3CF1;
}

.search__result.show {
  display: flex;
  animation: rubberBand 1s 0.6s ease-in;
}

.heart {
  width: 150px;
  height: 150px;
}

.heart__path {
  -webkit-animation: groove 6s 3000 alternate;
  animation: groove 6s 3000 alternate;
  fill: transparent;
  stroke: #73FBF9;
  stroke-dasharray: 0;
  stroke-width: 10px;
}

@-webkit-keyframes groove {

  0%,
  100% {
    stroke-dasharray: 1600;
  }

  25%,
  75% {
    stroke-dasharray: 70;
  }

  50% {
    stroke-dasharray: 150;
  }
}

@keyframes groove {

  0%,
  100% {
    stroke-dasharray: 1600;
  }

  25%,
  75% {
    stroke-dasharray: 70;
  }

  50% {
    stroke-dasharray: 150;
  }
}

.search__result .result {
  font-size: 1.4vw;
  /* margin-top: 20px; */
  line-height: 1.5;
}

.search__result .restart {
  background: #EA3CF1;
  color: #fff;
  border: 0;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.search__result .restart:hover {
  background: #333;
  color: #EA3CF1;
  box-shadow: inset 3px 3px 30px 3px #eb3cf133;
}

.search__audio {
  cursor: pointer;
  margin-bottom: 10px;
}

.search__audio .stop {
  display: none;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@media (max-width: 600px) {
  .search__wrap {
    padding: 20px;
  }

  .search__wrap>span {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .search__wrap>h1 {
    font-size: 44px;
  }

  .search__box input {
    font-size: 16px;
    padding: 12px 30px;
  }
}

/* footer */
#footer {
  text-align: center;
}

#footer a {
  color: #000;
  font-family: "NexonLv1Gothic";
  padding-bottom: 50px;
}

#footer a:hover {
  text-decoration: underline;
}

.search__answers {
  border-bottom: 2px dashed var(--htmlColor);
  padding-bottom: 20px;
  display: none;
}

.search__answers span {
  display: inline-block;
  background: var(--htmlColor);
  padding: 10px 20px;
  color: #fff;
  border-radius: 30px;
  margin: 3px;
  font-size: 20px;
}

.search__missAnswers {
  border-bottom: 2px dashed #EA3CF1;
  padding: 40px 0;
  display: none;
}

.search__missAnswers span {
  display: inline-block;
  border: 1px solid var(--htmlColor);
  color: #EA3CF1;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 25px;
}