@charset "UTF-8";

nav {
  --transition-time: 500ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  transform: translateX(-100%);
  transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
  z-index: 4000;
}

nav a {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  user-select: none;
  color: #fff;
}

.nav-links {
  --link-height: 60px;
  position: relative;
  width: 100%;
}

.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: var(--link-height);
  list-style: none;
  opacity: 0;
  transform: translateX(-50%);
  transition: all var(--transition-time) cubic-bezier(0.8, 0, 0.33, 0.9);
  transition-delay: calc(30ms + var(--delay));
  cursor: pointer;
  z-index: 8000;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  --icon-width: 25px;
  position: absolute;
  top: 8%;
  right: -20%;
  width: calc(var(--icon-width) + 25px);
  height: calc(var(--icon-width) + 25px);
  flex-direction: column;
  transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
  cursor: pointer;
  z-index: 10000;
}

.menu-btn.close .line__1 {
  transform: rotate(45deg) translate(2px, -3px);
}

.menu-btn.close .line__2 {
  transform: rotate(-45deg);
}

.menu-btn.close .line__3 {
  transform: rotate(45deg) translate(-2px, 3px);
}

.menu-btn .line {
  width: var(--icon-width);
  background: #fff;
  height: 2px;
  margin: 3px 0;
  transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
}

.menu-btn .line__1,
.menu-btn .line__2,
.menu-btn .line__3 {
  width: var(--icon-width);
}

.menu-btn .line__1 {
  transform-origin: left;
}

.menu-btn .line__2 {
  transform-origin: center;
}

.menu-btn .line__3 {
  transform-origin: right;
}

nav.nav-open {
  transform: translateX(0%);
}

nav.nav-open .menu-btn {
  right: 5%;
}

nav.nav-open .nav-links li {
  transform: translateX(0);
  opacity: 1;
}