@charset "utf-8";

/* @import url('https://webfontworld.github.io/fontlab/LABDigital.css'); */
@import
	url('https://webfontworld.github.io/earlyfont/EF_Hyunygothic.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'EF_Hyunygothic';
	font-weight: normal;
	cursor: none;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.cursor {
    width: 20px;
    height: 20px;
    background-color: aqua;  /* 원하는 색상 설정 */
    border-radius: 50%;       /* 원 모양으로 설정 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    pointer-events: none;
    user-select: none;
}


.cursor img {
	width: 15px;
}

.cursor .c2 {
	width: 30px;
	display: none;
}
/* .cursor.over .c1 {
    display: none;
}
.cursor.over .c2 {
    display: block;
} */
#header {
	position: fixed;
	width: 100%;
	background: #011d3f;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
}

#header h1 {
	font-size: 20px;
	color: #fff;
	padding: 5px 0;
}

#header .time {
	color: #fff;
}

.icon_box {
	text-align: center;
}

.icon {
	position: absolute;
	left: 70px;
	width: 54px;
}

.icon img {
	width: 54px;
}

.icon span {
	display: block;
	background: #000;
	color: #fff;
	font-size: 14px;
	padding: 2px;
	white-space: nowrap;
}

.i1 {
	top: 100px;
}

.i2 {
	top: 200px;
}

.i3 {
	top: 300px;
}

.i4 {
	top: 400px;
}

.i5 {
	top: 500px;
}

.i6 {
	top: 600px;
}

iframe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1800px;
	height: 1000px;
	z-index: 3;
}

.icon_iframe.show {
	display: block;
}

.icon_iframe {
	display: none;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #011d3f;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
	color: #fff;
	text-align: center;
}