@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");



/* Base : 상단바 사이드바 하단바의 크기만큼 위치 이동 (필요하면 사용) */ 
div#contentContainer{
	margin-top : 60px;
	margin-left : 245px;
}




div#artist-container {
	padding : 20px 0;
	position : absolute;
	
	}
/* 텍스트 스타일 지정 */

.artist-description {
	margin-top : 60px;
	color : #EEEEEE;
	font-size : 12px;
}